:root {
  --background: #121212;
  --text: #dadada;
  --red: #E53935;
  --serif-font: "Playfair Display";
  --font: "Nunito Sans";
}

html {
  background: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5 {
  font-family: var(--font), serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p, ul, li {
  font-family: var(--serif-font), sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100,
  "YTLC" 500;
}

.error {
  color: var(--red);
}